.contenedor {
 
    background-color: rgb(149, 238, 208);
    margin: 5%;
    border: 3px solid green;

}

h3{
    text-align: center;
}


label, input {
    display: block; 
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    box-sizing: border-box;
}

button {
    width:  100%;
    padding: 10px;
    background-color: green;
    border-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
